<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liusheng.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.liusheng.model.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productSpec" column="product_spec" jdbcType="INTEGER"/>
            <result property="productPrice" column="product_price" jdbcType="DECIMAL"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="storeId" column="store_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_name,product_spec,
        product_price,is_deleted,create_time,
        product_id,store_id
    </sql>
</mapper>
